---
layout: page
title: "Events"
permalink: /events/
---

<div class="event-container">

  <div class="event-list">
    <h2>Upcoming</h2>
    <ul class="event-post-list">
      {% for post in site.categories.upcoming %}
      <li>
        <strong>
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </strong>
        <span class="post-date">- {{ post.event-date |  date: "%B %-d"}}</span>
      </li>
      {% endfor %}
    </ul>
  </div>

  <div class="event-list">
    <h2>Past</h2>
    <ul class="event-post-list">
      {% for post in site.categories.past %}
      <li>
        <strong>
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </strong>
        <span class="post-date">- {{ post.event-date |  date: "%B %-d" }}</span>
      </li>
      {% endfor %}
    </ul>
  </div>

</div>
